.contact img {
  object-fit: cover;
  height: 10em;
  width: 10em;
}

:root * {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.about {
  display: grid;
  grid-template-columns: auto auto;
}

.about-wrapper {
  box-shadow: 0em 0em 0.5em;
  padding: 2em 2em 2em 10em;
  margin: 3em 3em;
}

.about-wrapper h1 {
  margin: 0%;
}

.about img {
  opacity: 0%;
  object-fit: cover;
  height: 20vw;
  width: 20vw;

  position: relative;
  scale: 250%;
  top: 10em;
  left: 8em;
}
