:root * {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.about {
  display: grid;
  grid-template-columns: auto auto;
}

.about-wrapper {
  box-shadow: 0em 0em 0.5em;
  padding: 2em 2em 2em 10em;
  margin: 3em 3em;
}

.about-wrapper h1 {
  margin: 0%;
}

.about img {
  object-fit: cover;
  height: 20vw;
  width: 20vw;

  position: relative;
  scale: 250%;
  top: 10em;
  left: 8em;
}

.project {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  gap: 0.75em;
}

.project img {
  height: 15em;
  width: 100%;
}

.project > img::before {
  content: " ";
  background-color: rgb(69, 122, 184);
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  top: 20px;
  left: 0%;
}

.project-details {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1em;
  grid-template-areas:
    "H A B"
    "P P P";
}
.project-details p {
  grid-area: P;
}

.project-details a:nth-child(1) {
  grid-area: A;
}

.project-details a:nth-child(2) {
  grid-area: B;
}

.project-details h1 {
  grid-area: H;
}

.project-details a {
  height: 1em;
  width: 1em;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
}

.contact {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 8px;
  gap: 1em;
}

.contact > img {
  height: 30vw;
  width: 30vw;
}

.contact-wrapper {
  display: grid;
  /* border: 2px solid red; */
  gap: 1em;
}
.contact-wrapper p {
  padding: 0%;
  margin: 0%;
}

.social {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto 1fr;
  gap: 1em;
}

.about .social {
}

.open-in-new {
  --size: 1.1rem;
  height: var(--size) !important;
  width: var(--size) !important;
}

.phone img,
.email img {
  object-fit: contain;
  width: 1.7em;
  height: auto;
}

.contact-wrapper div {
  display: flex;
  align-items: center;
  gap: 1em;
}
