:root * {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
body {
  display: grid;
  justify-content: space-around;
  width: 100%;
}

#app {
  padding: 3em;
  /* outline: 1em solid red; */
  display: grid;
  max-width: 1300px;
}

.about {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  --aboutimgsize: 450px;
}
.about::before {
  background-color: rgb(11, 152, 187);
  content: "  ";
  width: 200vw;
  height: 100vh;
  top: -70vh;
  left: -55vw;
  position: absolute;
  z-index: -1;
  transform: rotate(-10deg);
}

.about-wrapper {
  box-shadow: 0em 0em 0.5em;
  padding: 2em 2em 2em 2em;
  margin: 3em 3em 3em 0em;
  display: grid;
  font-size: 1.3em;
  background-color: white;
}

.about-wrapper h1 {
  margin: 0%;
}

.mainImage {
  position: relative;
  max-width: 40vw;
}

.about img {
  position: relative;

  object-fit: cover;
  max-width: 40vw;
  width: var(--aboutimgsize);
  aspect-ratio: 1/1;
}

#titleName {
  position: absolute;
  bottom: 2%;
  margin: 0%;
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.637);
}

.project {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  gap: 0.75em;
}

.project img {
  height: 15em;
  width: 100%;
}

.project > img::before {
  content: " ";
  background-color: rgb(69, 122, 184);
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  top: 20px;
  left: 0%;
}

.project-details {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1em;
  grid-template-areas:
    "H A B"
    "P P P";
}
.project-details p {
  grid-area: P;
}

.project-details a:nth-child(1) {
  grid-area: A;
}

.project-details a:nth-child(2) {
  grid-area: B;
}

.project-details h1 {
  grid-area: H;
}

.project-details a {
  height: 1em;
  width: 1em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3em;
}

.contact {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  padding: 3em;
  font-size: 1.2em;
  align-content: center;
}

.contact > img {
  object-fit: cover;
  object-position: center;
  height: 425px;
  width: 500px;
  justify-self: end;
}

.contact-wrapper {
  display: grid;
  /* border: 2px solid red; */
  gap: 1em;
  grid-template-rows: auto auto auto auto auto auto;
  align-content: center;
}
.contact-wrapper p {
  padding: 0%;
  margin: 0%;
}

.social {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto 1fr;
  gap: 1em;
}

.about-wrapper .social {
  justify-self: end;
}

.open-in-new {
  --size: 1.1rem;
  height: var(--size) !important;
  width: var(--size) !important;
}

.phone img,
.email img {
  object-fit: contain;
  width: 1.7em;
  height: auto;
}

.contact-wrapper div {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media (max-width: 1000px) {
  #app {
    display: grid;
  }

  .about {
    box-sizing: border-box;
    /* outline: 3px solid red; */
    margin: 0%;
    grid-template-columns: 1fr;
  }

  .about-wrapper {
    position: absolute;
    z-index: 1;
    margin: var(--aboutimgsize) 0em 3em 0em;
  }

  .about-wrapper * {
    min-width: none;
  }

  .mainImage {
    position: absolute;
    z-index: 2;
    /* opacity: 0; */
    left: -7%;
  }

  #titleName {
    position: absolute;
    bottom: 0%;
    top: 7%;
    width: max-content;
    left: 85%;
  }
  .contact {
    grid-template-columns: 1fr;
  }

  .contact > img {
    height: 600px;
    width: 100%;
  }
}
